@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=PT+Sans&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#erroMessage{
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}
.loginButton{
    font-family: 'Roboto Mono', monospace;
    width: 350px;
    height: 450px;
    max-width: 200px;
    max-height: 100px;
    margin: auto;
    border: solid 2px black;
    border-radius: 5%;
    margin-top: 30px;
    align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.registerButton{
    font-family: 'Roboto Mono', monospace;
    width: 550px;
    height: 450px;
    max-width: 200px;
    max-height: 100px;
    margin: auto;
    border: solid 2px black;
    border-radius: 5%;
    margin-top: 20px;
    align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.userInfoDisplay{
    font-family: 'Roboto Mono', monospace;
    width: 350px;
    height: 450px;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
    border: solid 2px black;
    margin-top: 50px;
    padding-top: 20px;
    align-items: center;
}
.email{
    display: flex;
    margin-left: 40px;
    margin-top: 100px;
}
.password{
    margin-left: 40px;
    display: flex;
    margin-top: 30px;

}
.newUserInfoDisplay{
    font-family: 'Roboto Mono', monospace;
    width: 350px;
    height: 450px;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
    border: solid 2px black;
    margin-top: 50px;
    padding-top: 20px;
    align-items: center;
}
.newPassword{
    margin-left: 40px;
    display: flex;
    margin-top: 30px;
}
.newEmail{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}

.newLastName{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}
.newFirstName{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}
.register{
    width: fit-content;
    height:fit-content;
    margin: auto;
    border: solid 2px black;
    margin-top: 50px;
    padding-top: 20px;
    align-items: center;
    border-radius: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.login{
    width: fit-content;
    height:fit-content;
    margin: auto;
    border: solid 2px black;
    border-radius: 5%;
    margin-top: 50px;
    padding-top: 20px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    
}

.header{
    margin: auto;
    width: 300px;
    height: 400px;
    max-width: 350px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .text{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.uniteLogin{
    margin: auto;
    width: 300px;
    margin-top: 30px;
    max-width: 350px;
    max-height: 250px;
    
}


.unite{
    margin: auto;
    width: 300px;
    max-width: 350px;
    max-height: 250px;
  
}

.emailInput{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
    
}


.passwoardDisplay{
    display: flex;
}
.eyeClosed{
    position: relative;
    z-index: 1;
    margin-left: -25px;
    margin-top: 17px;
    height: 16px;

}
.eyeOpened{
    position: relative;
    z-index: 1;
    margin-left: -25px;
    margin-top: 17px;
    height: 16px;

}
svg{
    position: relative;
    z-index: -3;
}
.inputs{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.passwoardInput{
    margin-top: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
    padding-right: 30px;

}
.FirstNameInput{
    margin-top: 25px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
}
.LastNameInput{
    margin-top: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
}
.haveAccount{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;
    max-width: 250px;
    max-height: 10px;
    margin: auto;
    margin-top: 10px;
}
.loginButtonBis{
    cursor: pointer;
    text-decoration:underline;
    margin-left: 5px;
    
}

.dontHaveAccount{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;
    max-width: 250px;
    max-height: 10px;
    margin: auto;
    margin-top: 10px;
}
.registerButtonBis{
    cursor: pointer;
    text-decoration:underline;
    margin-left: 5px;
}

.joinUsButton{
    font-family: 'Roboto Mono', monospace;
    width: 1000px;
    height: 1000px;
    max-width: 150px;
    max-height: 45px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.803);
    color: white;
    margin-top: 20px;
    align-items: center;
    font-size: 25px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.logButton{
    font-family: 'Roboto Mono', monospace;
    width: 1000px;
    height: 1000px;
    max-width: 150px;
    max-height: 45px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.803);
    color: white;
    margin-top: 50px;
    align-items: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
